<!DOCTYPE html>
<html>
<head>
    <title>MakeReport</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Enter News Keyword to Generate a Report</h1>
    <u1>
        <li>Click a View Button to see the Objects in that Collection</li>
        <li>Click Generate Report to generate a new News Report</li>
    </u1>    
    <button onclick="viewArticles()">View Articles</button>
    <button onclick="viewSources()">View Sources</button>
    <button onclick="viewReports()">View Reports</button>
    <button onclick="generateReport()">Generate Report</button>
    <script>
        function viewArticles() {
            // Redirect to the collections page
            window.location.href = "/view_articles";
        }
        function viewReports() {
            // Redirect to the collections page
            window.location.href = "/view_reports";
        }
        function viewSources() {
            // Redirect to the collections page
            window.location.href = "/view_sources";
        }
        function generateReport() {
            // Redirect to the collections page
            window.location.href = "/generate_report";
        }
    </script>
</body>
</html>
