    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Batches</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f29d;
        }

        th {
            background-color: #375e94;
            color: white;
        }

        /* Additional style for the search form */
        form {
            margin-bottom: 20px;
        }

        /* Style for the button */
        button {
            padding: 10px 20px;
            background-color: #375e94;
            color: white;
            border: none;
            cursor: pointer;
        }

        /* Style for the search bar */
        input[type="text"] {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <button onclick="goIndex()">Home</button>
    <form action="/view_batches" method="post">
        <label for="search_query">Enter batch_name:</label>
        <input type="text" id="search_query" name="search_query" required>
        <button type="submit">Search</button>
    </form>
    <h1>Enter Batch Number to Display its Articles</h1>
    {{ tables|safe }}
    <script>
        function goIndex() {
            // Redirect to the Index Page
            window.location.href = "/";
        }
    </script>
</body>
</html>
